:root {
  --white: #EEEEEE;
  --black: #222831;
  --grey100: #A6A8AB;
  --grey200: #393E46; 

  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600; 
}

body {
  background-color: var(--white) !important;
  color: var(--white) !important;
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: var(--white) !important;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
}

.bi {
  display: flex;
  justify-content: center;
}

.navigation-bar {
  background-color: var(--black);
  padding: 1.5rem 7.5rem 1rem;
}

@media (max-width: 1100px) {
  .navigation-bar {
    padding: 1.5rem 3rem 1rem;
  }
}

@media (max-width: 870px) {
  .navigation-bar {
    padding: 1.5rem;
    padding-bottom: 1rem;
  }
}

.primary-nav {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 2.5rem;
}

@media (max-width: 870px) {
  .primary-nav {
    gap: clamp(1rem, 2.5vw, 2.5rem);
  }
}

@media (max-width: 760px) {
  .primary-nav {
    grid-template-columns: auto 1fr auto;
  }
}

.primary-nav__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.4rem;
  justify-content: space-between;
  width: 2.3rem;
}

.primary-nav__burger hr {
  border: 1px solid var(--white);
  margin: 0;
  opacity: 1;
}

.primary-nav__brand {
  font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
}

@media (max-width: 400px) {
  .primary-nav__brand {
    font-size: 1.2rem;
  }
  
  .primary-nav__burger {
    width: 1.5rem;
  }
}

.search-bar {
  position: relative;
  width: 100%;
}

@media (max-width: 760px) {
  .search-bar {
    grid-row: 2;
    grid-column: span 3;
  }
}

.search-bar__input {
  background-color: var(--white);
  border: none;
  border-radius: 10rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: .7rem 2.2rem;
  width: calc(100% - .2rem);
}

.search-bar__button {
  background-color: var(--grey200);
  border: none;
  border-radius: 10rem;
  color: var(--grey100);
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--medium);
  height: 100%;
  padding: 0 1.5rem;
  position: absolute;
  right: 0;
}
.search-bar__button:active {
  opacity: .9;
}

@media (max-width: 500px) {
  .search-bar__input {
    font-size: 1rem;
    padding: .5rem 2rem;
  }

  .search-bar__button {
    font-size: .8rem;
  }
}

.search-bar__icon {
  bottom: 2px;
  display: initial !important;
  margin-right: .25rem;
  position: relative;
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
}

.nav-icons__div {
  cursor: pointer;
}

.nav-icons__icon {
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0;
}

.nav-icons__para {
  font-size: .8rem;
  font-weight: var(--light);
  margin: 0;
  margin-top: .1rem;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .nav-icons__para {
    display: none;
  }
}

.navigation-bar__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 2.3rem;
  padding: 0;
}

.navigation-bar__list::-webkit-scrollbar {
  height: 0;
}

@media (max-width: 800px) {
  .navigation-bar__list {
    justify-content: initial;
    gap: 2rem;
    overflow-x: scroll;
  }
}

@media (max-width: 600px) {
  .navigation-bar__list {
    margin-top: 1rem;
  }
}

.navigation-bar__link {
  position: relative;
  white-space: nowrap;
}

.navigation-bar__link:after {
  content: "";
  background-color: var(--white);
  display: block;
  height: 2px;
  margin-top: 2px;
  position: absolute;
  transition: width 500ms;
  right: 0;
  width: 0;
}

.navigation-bar__link:hover::after {
  left: 0;
  width: 100%;
}

.main-content {
  display: grid;
  gap: 4rem;
  padding: 4rem 7.5rem;
  position: relative;
}

@media (max-width: 1100px) {
  .main-content {
    padding: 3rem;
  }
}

@media (max-width: 870px) {
  .main-content {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 760px) {
  .main-content {
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .main-content {
    gap: 2rem;
  }
}

.carousel {
  height: 22rem;
}

.carousel-inner {
  border-radius: 22px;
}

.carousel__image {
  height: 22rem;
}

@media (max-width: 500px) {
  .carousel {
    left: 0;
    position: absolute !important;
    top: 0;
  }

  .carousel-inner {
    border-radius: 0;  
  }
}

.carousel__button {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  border: none;
  height: 3.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.3rem;
}

.carousel__button--left {
  left: 2rem;
}

.carousel__button--right {
  right: 2rem;
}

@media (max-width: 500px) {
  .carousel__button {
    height: 2.5rem;
    width: 2.5rem;
  }

  .carousel__button--left {
    left: 1rem;
  }

  .carousel__button--right {
    right: 1rem;
  }
}

.carousel__icon {
  font-size: 1.5rem;
}

.not-carousel {
  display: grid;
  gap: clamp(2rem, 6vw, 4rem);
}

@media (max-width: 500px) {
  .not-carousel {
    margin-top: 22rem;
  }
}

.title {
  color: var(--black);
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: var(--regular);
  position: relative;
  width: fit-content;
}
.title::after {
  content: "";
  background-color: var(--black);
  display: block;
  height: 6px;
  margin-top: .5rem;
  position: absolute;
  width: 50%;
}

@media (max-width: 760px) {
  .title {
    left: 50%;
    transform: translateX(-50%);
  }
}

.categories {
  display: flex;
  gap: clamp(2rem, 5vw, 4rem);
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: fit-content;
}

.category__image {
  border-radius: 50%;
  height: clamp(7rem, 15vw, 12.5rem);
  width: clamp(7rem, 15vw, 12.5rem);
}

.category__title {
  color: var(--black);
  margin: clamp(.8rem, 2vw, 1.1rem) 0 0;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: var(--medium);
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
}

.product-card {
  color: var(--black);
  cursor: pointer;
  display: grid;
  gap: 1rem;
  width: 15rem;
}

@media (max-width: 1500px) {
  .products {
    justify-content: center;
    gap: 2rem;
  }

  .product-card:nth-child(5) {
    display: none;
  }
}

@media (max-width: 1300px) {
  .product-card:nth-child(4) {
    display: none;
  }
}

@media (max-width: 830px) {
  .product-card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 580px) {
  .product-card:nth-child(2) {
    display: none;
  }
}

.product-card > p {
  margin: 0;
}

.product-card__image {
  border-radius: 16px;
  height: 16rem;
  width: 100%;
}

.product-card__para {
  font-size: 1.2rem;
}

.price {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: var(--medium);
}

.price-tag {
  display: flex;
  gap: 1rem;
}

.price__original {
  color: var(--grey100);
}

.discount {
  border: 2px solid green;
  border-radius: 5px;
  color: green;
  padding: .1rem .3rem;
}
