:root {
  --white: #EEEEEE;
  --black: #222831;
  --grey100: #A6A8AB;
  --grey200: #393E46; 

  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600; 
}

body {
  color: var(--white) !important;
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none !important;
  color: var(--white) !important;
}

ul {
  list-style-type: none;
}

.bi {
  bottom: 1px;
  margin-right: .25rem;
  position: relative;
}

.navigation-bar {
  background-color: var(--black);
  padding: 1.5rem 7.5rem 1rem;
}

.primary-nav {
  align-items: center;
  display: flex;
  gap: 2.5rem;
}

.primary-nav__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.4rem;
  justify-content: space-between;
  width: 52px;
}

.primary-nav__burger hr {
  border: 1px solid var(--white);
  margin: 0;
  opacity: 1;
}

.primary-nav__brand {
  font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
}

.search-bar {
  position: relative;
  width: 100%;
}

.search-bar__input {
  background-color: var(--white);
  border: none;
  border-radius: 10rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: .7rem 2.2rem;
  width: calc(100% - .2rem);
}

.search-bar__button {
  background-color: var(--grey200);
  border: none;
  border-radius: 10rem;
  color: var(--grey100);
  cursor: pointer;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--medium);
  height: 100%;
  padding: 0 1.5rem;
  position: absolute;
  right: 0;
}
.search-bar__button:active {
  opacity: .9;
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
}

.nav-icons__div {
  cursor: pointer;
}

.nav-icons__icon {
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0;
}

.nav-icons__para {
  font-size: .8rem;
  font-weight: var(--light);
  margin: 0;
  margin-top: .1rem;
  white-space: nowrap;
}

.navigation-bar__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 2.3rem;
  padding: 0;
}

.navigation-bar__link {
  position: relative;
}

.navigation-bar__link:after {
  content: "";
  background-color: var(--white);
  display: block;
  height: 2px;
  margin-top: 2px;
  position: absolute;
  transition: width 500ms;
  right: 0;
  width: 0;
}

.navigation-bar__link:hover::after {
  left: 0;
  width: 100%;
}
